services:
  go:
    build: ./go
    ports:
      - "8083:8080"
    depends_on:
      - redis
    # volumes:
    #   - ./go:/home/go

  node:
    build: ./node
    ports:
      - "8081:8080"
      - "8082:3000"
    depends_on:
      - redis
    # volumes:
    # - ./node:/home/node

  redis:
    image: "redis:alpine"